<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title Mi aplicación web en NodeJs
  //- Compiled and minified CSS
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
  // Compiled and minified JavaScript
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
  //Css icons
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
body
  block contenido
  br
  hr
  footer &copy; Eliana Mariel Ferioli Núñez