extends base
block contenido
  h1 Página de inicio
  a(href="/contacto" class="waves-effect waves-light btn blue") Contacta con nosotros #[i(class="material-icons right") contact_phone]
  a(href="/usuario" class="waves-effect waves-light btn green") Usuarios #[i(class="material-icons right") perm_identity]
  
  //h2 Usando = 
    - for (var i = 0; i < 10; i++){
        //p= i
        //= i
        Span #{i} 
    - }

  p.
    Lorem fistrum ahorarr no te digo trigo por no llamarte Rodrigor ese que llega. Jarl va usté muy
    cargadoo apetecan no puedor. La caidita jarl pupita llevame al sircoo jarl te voy a borrar el 
    cerito te voy a borrar el cerito. Qué dise usteer pecador hasta luego Lucas jarl pecador se calle
    ustée mamaar te voy a borrar el cerito qué dise usteer ese hombree ese que llega. Te voy a borrar
    el cerito papaar papaar quietooor va usté muy cargadoo condemor de la pradera caballo blanco caballo
    negroorl. Jarl te voy a borrar el cerito no puedor mamaar.
  p.
    Ese hombree me cago en tus muelas caballo blanco caballo negroorl diodenoo diodeno a wan llevame al 
    sircoo jarl fistro ese que llega. Por la gloria de mi madre amatomaa llevame al sircoo pupita ahorarr 
    te va a hasé pupitaa sexuarl diodeno. Está la cosa muy malar a wan no te digo trigo por no llamarte 
    Rodrigor está la cosa muy malar está la cosa muy malar a gramenawer torpedo benemeritaar diodenoo 
    apetecan. Jarl hasta luego Lucas pecador pupita. Tiene musho peligro hasta luego Lucas pupita te va
    a hasé pupitaa.