extends base
block contenido
  
  h1 Página de usuarios
  a(href="/" class="waves-effect waves-light btn pink darken-3") Pagina Principal #[i(class="material-icons right") home]
  p.
    Nombre: #[b #{nombre}] #[br]
    Apellidos: #[b #{apellidos}] #[br]